{% extends "base.html" %}

{% block content %}

<h1 class="text-4xl text-gray-900">Create a New Listing</h1>
<form method="post" enctype = "multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<script>
    // Sử dụng JavaScript để thêm lớp CSS vào các trường đầu vào
    document.querySelectorAll('input[type="text"], input[type="number"]').forEach(input => {
        input.classList.add('bg-gray-200', 'text-gray-900');
    });
</script>
{% endblock %}